body {
    margin: 50px;
}

.target {
    width: 700px;
    min-height: 100px;
    padding: 10px;
    border-left: 10px solid saddlebrown;
    box-sizing: border-box;
    background: silver;
    font-size: 25px;


}


.p {
    font-size: 20px;
    line-height: inherit;

}

li {
    color: black;
    font-size: 17px;
}

h2 {
    font-size: 40px;
    text-align: center;

}
.leftimg {
    float:left;
    margin: 7px 7px 7px 0;
}